// $font_family: 'Montserrat', sans-serif;
// $font_family: 'Cormorant', sans-serif;
// $font_family: 'Arsenal', sans-serif;


$font_family: 'Montserrat', sans-serif;
$text_color: #536779;
$font_size: 1.375rem;
$line_height: 2.1875rem;
// $background_color_white: #232323;

$base_fz: 16;

@mixin fz($size_in_px) {
    font-size:($size_in_px/$base_fz)+rem;
}


@import 'parts/reset';
@import 'hamburger';

body {
    font-family: $font_family;
    color: $text_color;
    font-size: $font_size;
    line-height: $line_height;
    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: top;
}

// .bgimg {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

header {
    // background-color: #5474FD;
    &.scroll {
        height: 86px;
        -webkit-box-shadow: 0 0 5px #5474FD;
                box-shadow: 0 0 5px #5474FD;
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
    }
    &.fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        background: rgba(84, 116, 253, 0.7);
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
}

h1 {
    @include fz(48);
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 11px;
}

// form {
//     max-width: 657px;
//     width: 100%;
//     -webkit-box-pack: center;
//         -ms-flex-pack: center;
//             justify-content: center;
//     margin-bottom: 109px;
//     outline: 2px;
// }

// input[type=search] {
//     max-width: 500px;
//     width: 100%;
//     height: 60px;
//     text-align: center;
//     border:none;
//     background: var(--color-white);
//     font-family: var(--font-family);
//     font-family: 'Josefin Sans';
//     @include fz(14);
//     letter-spacing: 0.175rem;
//     color: #999999;
//     &:focus {
//         outline: none;
//         border: 2px solid #FF6363;
//     }
// }

.wrap_menu {
    max-width: var(--width-container);
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0 30px;
    .header_logo {
        > .pic {
            width: 186px;
            height: 20px;
        }
    }
}

.main_menu {
    ul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        li {
            margin-right: 42px;
            a {
                color: var(--color-white);
                text-decoration: none;
                font-family: 'Aleo', sans-serif;
                @include fz(14);
                text-transform: uppercase;
                &:focus {
                    outline: none;
                    border: 1px solid var(--color-white);
                }
            }
            a:hover {
                text-decoration: underline;
            }
            &:last-of-type {
                margin-right: 0px;
            }

        }
    }
}


h2 {
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    @include fz(36);
    color: var(--color-white);
}

.benefits_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    h2 {
        color: var(--text-color);
    }
    .pic {
        margin-bottom: 30px;
        cursor: pointer;
        &:hover > svg {
            fill: var(--color-white);
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 240px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        opacity: 0.5;
        clip: rect(0, 490px, 50px, 0);    
        top: -40%;
        left: 50%;
    }
    &:last-child::after {
        content: none;
    }
}

.btn {
    display: inline-block;
    height: 63px;
    padding: 0 38px;
    color: var(--color-white);
    cursor: pointer;
    text-transform: uppercase;
    line-height: 3.9375rem;
    font-family: 'Aleo', sans-serif;
    letter-spacing: 0.075rem;
    font-size: var(--text-size);
    // border: none;
    border: 2px solid transparent;
    background: #496bfe; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(42deg, #496bfe 46%,#5474fd 46%);
    background: linear-gradient(42deg, #496bfe 46%,#5474fd 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496bfe', endColorstr='#5474fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-position: center top;
    background-size: 300% auto;
    &:hover {
        background-position: left top;
    }
    &:focus {
        outline: none;
        border: 2px solid #FF6363;
    }
}

#side_block {
    width: 50%;
    position: fixed;
    left: 0;
    top: 0;
    color: var(--color-white);
    background: rgba(84, 116, 253, .5);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    padding: 20px;
    height: 100vh;
    z-index: 12;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &.open {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .header_logo {
        position: relative;
        margin-bottom: 60px;
        img {
            margin-top: 10px;
        }
        &::before {
            content: ('');
            position: absolute;
            width: 50px;
            height: 30px;
            top: 0;
            left: -10px;
            border-top: 1px solid var(--color-white);
            border-left: 1px solid var(--color-white);
        }
        &::after {
            content: ('');
            position: absolute;
            width: 50px;
            height: 30px;
            bottom: -10px;
            right: -10px;
            border-bottom: 1px solid var(--color-white);
            border-right: 1px solid var(--color-white);
        }
    }
}

#page_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
    z-index: 11;
    &.open {
        display: block;
    }
}

.mobile_menu {
    margin-bottom: 60px;
    ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    @include fz(18);
    text-align: center;
    }
    li {
        margin-bottom: 20px;
        a {
            text-decoration: none;
            color: var(--color-white);
            @include fz(30);
            line-height: 2.375rem;
        }
    }
    
}


.hamb_menu {
    display: none;
}